<div class="item" ng-repeat='item in list.items'>
	<figure class="">
			<img ng-src={{item.src}} alt="" />
		    <a href id='ID{{$index}}' ng-init='list.init(item,$index);'>
		    	<div class="uk-overlay-panel uk-overlay-icon"></div>
		    </a>
		    <figcaption class="uk-overlay-panel uk-overlay-bottom">
		    Plantilla {{item.name}}
		    </figcaption>
	</figure>
</div>