
.nav{
    background-color: yellow;
    /* height: 50px; */
    /* width: 100%; */
}

.nav:hover{
    opacity: 0.9;
	
}

.nav ul{
    /* margin: 5px; */
	
    border: 0px;
    margin: 0px;
    padding: 0px;
    /* height: 90px; */
   
}



.nav li {
    padding: 10px;
	
    /* height: 50px; */
    vertical-align: middle;
    /* border: 2px solid transparent; */
}

.nav li a{
    color: black;

    font-family: 'Lato', sans-serif;
    font-weight: 100;
    font-size: 35px;
    /* padding: 5px; */
    /* text-shadow: none; */
    /* text-decoration: none; */
    border: 0px;
    text-shadow: none;
    /* height: 50px; */
    line-height: 50px;
}

.nav.scrolling{
    /*
    height: 90px;
    
    position: fixed; 
    top: 0px; 
    width: 100%; 
    z-index: 99999;
     */
}

.nav.dropdown{
    display: hidden;
    position: fixed; 
    top: 0px; 
    width: 100%; 
}


.uk-tab-left {
  border-right: 0px !important;
}
