
html{
	background-color: black;
}

body{
    margin: 0px;
    font-family: 'Lato', sans-serif;
    padding: 0px;
    /* overflow: hidden; */
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#wrapper{
    padding: 0px;
	
    margin: 0px;
    background-color: rgba(255,255,255,1);
    min-height: 600px;
    width: 100%;
    /* overflow: auto; */
    /* height: 200px; */
}

