
footer{
    /* background-color: black; */
	
    /* height: 70px; */
    /* padding: 20px; */
}

footer p{
    font-family: 'Lato', sans-serif;

    font-size: 30px;
    font-weight: 300;
    /* float: right; */
}

footer p:hover{

}

footer div{

}

footer ul{
    /* float: right; */
    list-style: none;
}
footer ul li{
    /* font-size: 15px; */
    height: 90px;
}

footer ul li .text{
    padding: 18px;
    font-size: 30px;
    font-weight: 300;
    line-height: 73px;
    vertical-align: middle;
}
