

a.title{
	color: #ffffff;
  	font-family: 'Alfa Slab One';
	line-height: 51px;
	font-size: 50px;
}

a.title:hover,a.title:focus{
    text-decoration: none;

    color: rgba(255,250,0,);
}

a.title:hover > span{
    color: rgba(255,255,255,.9);
  
}

.title p{
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  color: yellow;
  font-weight: 100;
  line-height: 42px;
}

a.title span{
    color: yellow;
	
}

header{
	background-color: black;
	padding: 20px;
}



li a{
    color: black;

}



